img{
    width: 100px;
    height: 100px;
}

table > * > * > * {
    border: 1px solid grey;
}

.card-title{
    background: #FF6600;
    text-align: center;
    min-height: 50px;
    padding: 10px;
}

.card {
    background: #698f70;
}